# config.py.example
# --- CONFIGURATION ---
TG_API_ID = 1234567  # Replace with your API ID
TG_API_HASH = 'YOUR_TELEGRAM_HASH'  # Replace with your API HASH
AI_API_KEY = 'sk-....'
AI_URI="https://openrouter.ai/api/v1"
AI_MODEL="deepseek/deepseek-v4-flash"

